@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
    @apply pt-3 pb-1 font-medium animated transition-colors hover:text-secondary duration-500 ease-in-out;
}

.step {
    @apply relative rounded-xl w-52 h-52 bg-white shadow-md border border border-secondary z-50 flex justify-center items-center p-1 hover:shadow-2xl transform hover:scale-105 hover:bg-secondary text-secondary hover:text-white transition duration-300 ease-out;
}

.reason {
    @apply bg-white rounded-md shadow-md p-4 flex items-center transform hover:scale-110 hover:shadow-xl transition duration-300 ease-out;
}

.animated {
    position: relative;
}

.animated::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #25283d;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.animated:focus {
    outline: none;
}

.nav {
    max-height: 4rem;
    transition: max-height 400ms ease-in-out;
}

.burger {
    width: 50px;
    height: 50px;
    background: white;
    opacity: 0.9;
    padding: 0.5rem;
    border-radius: 50%;
    border: 1px solid rgba(black, 0.1);
}

.burger div {
    height: 3px;
    background-color: #105650;
    margin: 6px;
    transition: all 0.3s ease;
}

.nav-active {
    max-height: 500px;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-6px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-6px, -6px);
}

/* back to top button */

#button {
    display: inline-block;
    background-color: #25283d;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
#button::after {
    content: url("/image/chevron_big_up.svg");
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 35px;
    color: #fff;
}
#button:hover {
    cursor: pointer;
    background-color: #333;
}
#button:active {
    background-color: #555;
}
#button.show {
    opacity: 1;
    visibility: visible;
}

@media (min-width: 500px) {
    #button {
        margin: 30px;
    }
}

@media (hover: hover) and (pointer: fine) {
    .animated:hover::before,
    .animated:focus::before {
        left: 0;
        right: auto;
        width: 100%;
    }
}
